<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; }
        h1 { color: rgb(255, 128, 0); }
        p { margin: 5px 0; }
        .details { margin-top: 10px; }
    </style>
</head>
<body>
    <img src="cid:liderLogo" alt="Lider Logo" style="width: 150px; height: auto;">
    <h3>¡Gracias por ser parte de nuestra Comunidad LÍDER!</h3>
    <p>Hola, <b th:text="${nombre}"></b></p>
    <p > 
    	<span th:text="${detalle}"></span> <span><b th:text="${evento}">.</span>
    </p> 
    <div class="details">
        <b>Adjuntamos su certificado digital en formato PDF.</b> <br> 
		<p>
		Recordarle que le enviamos el <b>link de las Grabaciones y Materiales del número oficial:</b>
		</p>
		<p>	
		Ante cualquier duda o consulta por favor puede escribirnos al <span th:text="${numero}"></span>.
		</p>
		<p>
		Es un Privilegio para nosotros Servirte.
		</p>
		<p>
			<b>
				🔝 ¡¡ESPERAMOS TENERTE PRONTO EN NUESTROS EVENTOS DE CAPACITACIÓN!! 🥇🏆
				
			</b>
		</p><br>
		<p>
			¡¡Un Gran Abrazo!!
			
		</p>
		
		<p>
			🎓 LÍDER Academia de Capacitación <br>
			Un Camino de Crecimiento Contínuo💎
			
			
		</p><br><br>
		
		<p>
			<span th:text="${pagina}"></span>
		</p>
		
    </div>

<!--     <p>Atentamente,<br><span th:text="${pagina}"></span></p> -->
</body>
</html>
