<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; }
        h1 { color: rgb(255, 128, 0); }
        p { margin: 5px 0; }
        .details { margin-top: 10px; }
    </style>
</head>
<body>
    <img src="cid:liderLogo" alt="Lider Logo" style="width: 150px; height: auto;">
    <h1>¡Gracias por participar!</h1>
    <p>Hola, <b th:text="${nombre}"></b></p>
    <p th:text="${detalle}">.</p>
    <div class="details">
         Adjuntamos tu certificado digital en formato PDF. Puedes descargarlo y guardarlo para tu registro, el cual damos por culminado al evento realizado <b><span th:text="${evento}"></span></b>, en fechas 
         <span th:text="${fecha}"></span> a  <span th:text="${fecha2}"></span>.
    </div>
    <p></p>
    <p>Atentamente,<br><span th:text="${pagina}"></span></p>
</body>
</html>
