<!DOCTYPE html>
<html lang="en">
<head>
    <title>ACADEMIA LIDER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/liderlogo.png" type="image/png">
    
    <!-- Tailwind CSS -->
<!--     <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> -->
	<script src="https://cdn.tailwindcss.com"></script>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" crossorigin="anonymous" />
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    
    <style>
        body {
            font-family: "Poppins", sans-serif;
        }
        .login-page {
            width: 100%;
            height: 100vh; /* Ocupa toda la altura de la pantalla */
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f3f4f6; /* Fondo más claro */
        }
    </style>   
</head>
<body class="bg-gray-100">
    <div class="login-page">
        <div class="container mx-auto">
            <div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg p-7">
                <div class="flex justify-center mb-4">
                    <img src="/img/liderlogo.png" alt="Logo lider" class="w-40 h-auto"> <!-- Añadido alt para accesibilidad -->
                </div>
                <form th:action="login" method="post" class="space-y-4">
                    <!-- Usuario -->
                    <div class="form-group">
                        <label for="username" class="block text-gray-700">Usuario</label>
                        <input type="text" id="username" name="username" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Ingrese usuario" required>
                    </div>
                     
                    <!-- Contraseña -->
                    <div class="form-group">
                        <label for="password" class="block text-gray-700">Contraseña</label>
                        <input type="password" id="password" name="password" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Ingrese su contraseña" required>
                    </div>
                    
                    <!-- Botón de Iniciar Sesión -->
                    <div>
                        <button type="submit" class="w-full bg-amber-500 hover:bg-amber-600 text-white py-2 px-4 rounded"> 
                            <i class="fa fa-sign-in" aria-hidden="true"></i> INGRESAR
                        </button>
                    </div>
                </form>
                <p class="text-center text-gray-500 mt-4"><b>ACADEMIA LIDER</b></p>
            </div>
        </div>
    </div>

    <!-- Tailwind JS (Opcional) -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.9.0/dist/cdn.min.js"></script>

</body>
</html>
